{% include 'header.html' %}
<style>
    .scrollable {
        overflow-y: auto;
        height: 500px; /* Adjust this height based on your requirement */
    }
</style>
<div class="col-lg-12 df-flex mx-auto rounded-6" style="background-color: white;  transform: scale(0.7, 0.7); margin-top: auto">
    <table id="myTable" class="display" style="width:100%;">
        <thead>
            <tr>
                <th>tytuł</th>
                <th>autor/wydawnictwo</th>
                <th>Magazyn</th>
                <th>Kategoria</th>
                <th>Status</th>
                <th>Wypożyczył/a</th>
                <th>Wypożyczył/a</th>
                <th>Termin oddania</th>
                <th>Zmień status</th>
                <th>Edytuj</th>
                <th>Usuń</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{item.title}}</td>
                <td>{{item.author}}</td>
                <td>{{item.store.name}}</td>
                <td>{{item.category.name}}</td>
                {% if item.status == "noBorrow" %}
                <td>Niepożyczone</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                {% else %}
                {% for borrow in item.borrow %}
                <td>Pożyczone</td>
                <td>{{borrow.borrower}}</td>
                <td>{{borrow.start_date}}</td>
                <td>{{borrow.to_date}}</td>
                {% endfor %}
                {% endif %}
                {% if item.status == "noBorrow" %}
                <td><a href="{{ url_for('borrow', num=item.id) }}"><button type="button" class="btn btn-outline-warning" data-mdb-ripple-init data-mdb-ripple-color="dark">Wypożycz</button></a></td>
                {% else %}
                <td><a href="{{ url_for('deleteBorrow', num=item.id) }}"><button type="button" class="btn btn-outline-warning" data-mdb-ripple-init data-mdb-ripple-color="dark">Zwróć</button></a></td>
                {% endif %}
                <td><a href="{{ url_for('editItem', num=item.id) }}"><button type="button" class="btn btn-outline-warning" data-mdb-ripple-init data-mdb-ripple-color="dark">Edytuj</button></a></td>
                <td><a href="{{ url_for('deleteItem', num=item.id) }}"><button type="button" class="btn btn-outline-danger" data-mdb-ripple-init data-mdb-ripple-color="dark">Usuń</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>tytuł</th>
                <th>autor/wydawnictwo</th>
                <th>Magazyn</th>
                <th>Kategoria</th>
                <th>Status</th>
                <th>Wypożyczył/a</th>
                <th>Wypożyczył/a</th>
                <th>Termin oddania</th>
                <th>Zmień status</th>
                <th>Edytuj</th>
                <th>Usuń</th>
            </tr>
        </tfoot>
    </table>
</div>
{% include 'footer.html' %}