{% include 'header.html' %}
    <table id="example" class="display" style="width:100%; color: white;">
        <thead>
            <tr>
                <th>użytkownik</th>
                <th>permisje</th>
                <th>dodaj permisje</th>
                <th>usuń użytkownika</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>
                    {% for permission in user.permissions %}
                    {{permission.name}}
                    {% endfor %}
                </td>
                <td><a href="{{ url_for('changePermission', num=user.id) }}"><button type="button" class="btn btn-outline-warning" data-mdb-ripple-init data-mdb-ripple-color="dark">Zmień permisje</button></a></td>
                <td><a href="{{ url_for('deleteUser', num=user.id) }}"><button type="button" class="btn btn-outline-danger" data-mdb-ripple-init data-mdb-ripple-color="dark">Usuń</button></a></td>
            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <th>użytkownik</th>
                <th>permisje</th>
                <th>dodaj permisje</th>
                <th>usuń użytkownika</th>
            </tr>
        </tfoot>
    </table>
{% include 'footer.html' %}