{% include 'header.html' %}
    <table id="example" class="display" style="width:100%; color: white;">
        <thead>
            <tr>
                <th>tytuł</th>
                <th>autor/wydawnictwo</th>
                <th>magazyn</th>
                <th>kategoria</th>
                <th>status</th>
                <th>zwróć</th>
                <th>usuń trwale</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{item.title}}</td>
                <td>{{item.author}}</td>
                <td>{{item.store.name}}</td>
                <td>{{item.category.name}}</td>
                <td>{{item.status}}</td>
                <td><a href="{{ url_for('returnItem', num=item.id) }}"><button type="button" class="btn btn-outline-warning" data-mdb-ripple-init data-mdb-ripple-color="dark">Zwróć</button></a></td>
                <td><a href="{{ url_for('deleteItemForever', num=item.id) }}"><button type="button" class="btn btn-outline-danger" data-mdb-ripple-init data-mdb-ripple-color="dark">Usuń</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>tytuł</th>
                <th>autor/wydawnictwo</th>
                <th>magazyn</th>
                <th>kategoria</th>
                <th>status</th>
                <th>zwróć</th>
                <th>usuń trwale</th>
            </tr>
        </tfoot>
    </table>
{% include 'footer.html' %}